{{> menu active="about"}}

<section class="section" style="background-color: transparent;">
  <div class="container">
    <h1 class="title is-1 has-text-white">Welcome to Country Explorer</h1>
    <p class="subtitle is-3 has-text-white">Your Gateway to Discovering Landmarks</p>

    <section class="content">
      <h2 class="title is-2 has-text-white"><strong>About Country Explorer</strong></h2>
      <p class="has-text-white">
        Country Explorer is a revolutionary web application designed to enhance the experience of travelers and explorers around the globe. Our platform offers a unique and interactive way to discover, learn about, and engage with landmarks from various countries and cultures.
      </p>

      <h2 class="title is-2 has-text-white"><strong>Our Mission</strong></h2>
      <p class="has-text-white">
        Our mission is to connect people with the beauty and history of the world’s landmarks. We aim to provide a comprehensive, user-friendly platform that makes discovering and learning about different places both enjoyable and educational.
      </p>

      <h2 class="title is-2 has-text-white"><strong>Features</strong></h2>
      <ul class="has-text-white">
        <li><strong>Interactive Landmark Database:</strong> Access detailed information about landmarks, including history, cultural significance, and geographic details.</li>
        <li><strong>User-Centric Design:</strong> Easy-to-navigate interface providing a seamless user experience.</li>
        <li><strong>Personalized Experience:</strong> Create and customize your own lists of favorite landmarks and plan your next adventure.</li>
        <li><strong>Community Engagement:</strong> Share experiences, photos, and tips with a community of fellow explorers.</li>
        <li><strong>Real-Time Updates:</strong> Stay informed with the latest information and updates about landmarks worldwide.</li>
      </ul>

      <h2 class="title is-2 has-text-white"><strong>Why Choose Us</strong></h2>
      <p class="has-text-white">
        At Country Explorer, we’re not just about showing places; we’re about telling stories. Each landmark has its own tale, and we bring these stories to you with rich details and engaging content. Our platform is continuously updated, ensuring that you have access to the most current and accurate information.
      </p>

      <h2 class="title is-2 has-text-white"><strong>Join Our Community</strong></h2>
      <p class="has-text-white">
        Join the vibrant community of travel enthusiasts on Country Explorer. Whether you're a seasoned traveler or just starting, our platform is the perfect companion for your journey. Sign up today and start exploring!
      </p>
    </section>
  </div>
</section>

{{> footer}}
