{{> menu}}
<h1 class="title has-text-white has-text-centered">Admin Panel</h1>
<section class="hero is-fullheight" > 
  <div class="hero-body" style="display: contents !important;">
    <div class="columns is-centered">
      <div class="column is-6">
        <div class="section">
          <a href="/view-user-accounts" class="button is-large is-fullwidth">View User Accounts</a>
        </div>
      </div>
      <div class="column is-6">
        <div class="section">
          <a href="/view-user-statistics" class="button is-large is-fullwidth">View User Statistics</a>
        </div>
      </div>
    </div>
  </div>
</section>

{{>footer}}