{{> menu}}

<section class="transparent-background hero is-fullheight ">
    <div class="container">
        <h1 class="title has-text-white has-text-centered m-6">Admin Dashboard</h1>

        <table class="table is-fullwidth transparent-background">
            <thead>
                <tr>
                    <th class="has-text-white">Email</th>
                    <th class="has-text-white">Role</th>
                    <th class="has-text-white">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                {{#if (neq this.email loggedInEmail)}}
                <tr>
                    <td>{{this.email}}</td>
                    <td>{{this.role}}</td>
                    <td>
                        <a class="button is-success is-small" href="/admin/editUser/{{@key}}">
                            <span class="icon"><i class="fas fa-edit"></i></span>
                            <span>Edit</span>
                        </a>
                        <a class="button is-danger is-small" href="/admin/deleteUser/{{this.email}}">
                            <span class="icon"><i class="fas fa-trash"></i></span>
                            <span>Delete</span>
                        </a>
                    </td>
                </tr>
                {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div>
</section>


{{>footer}}