{{> welcome-menu active="login"}}

<section class="section gradient-bg">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="content">
          <h1 class="title is-white has-text-centered">Log in</h1>
                    {{#if error}}
            <div class="notification is-danger">
              {{error}}
            </div>
          {{/if}}
          <form action="/authenticate" method="POST">
            <div class="field">
              <label class="label has-text-white">Email</label> 
              <input class="input" type="text" placeholder="Enter email" name="email">
            </div>
            <div class="field">
              <label class="label has-text-white">Password</label> 
              <input class="input" type="password" placeholder="Enter Password" name="password">
            </div>
            <div class="field is-grouped is-centered">
              <button class="button is-dark">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{{>footer}}