{{> welcome-menu}}
<section class="section testimonial-section gradient-bg">
  <div class="container">
    <div class="content">
      <h2 class="has-text-white">What our users say</h2>
      <div class="testimonial">
        <blockquote>
          "Country Explorer helped me plan my recent trip to Europe. I could easily find information about different countries' cultures and attractions. Highly recommended!"
        </blockquote>
        <cite>- John Doe</cite>
      </div>
      <div class="testimonial">
        <blockquote>
          "As a geography enthusiast, I find Country Explorer incredibly useful. It provides detailed insights into each country's geography and demographics. It's like having an atlas at your fingertips!"
        </blockquote>
        <cite>- Jane Smith</cite>
      </div>
    </div>
  </div>
</section>

<section class="section discover-section gradient-bg">
  <div class="container">
    <div class="content">
      <h2 class="has-text-white">Discover the world with Country Explorer</h2>
      <p class="has-text-white">Sign up or log in now to start exploring!</p>
    </div>
  </div>
</section>


{{> footer}}