{{> welcome-menu active="signup"}}

<section class="section gradient-bg">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="content">
          <h1 class="title has-text-centered has-text-white">Sign up</h1>
          <form id="signupForm" action="/register" method="POST" onsubmit="return validateForm()">
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <label class="label has-text-white">First Name</label>
                  <input class="input" type="text" placeholder="Enter first name" name="firstName" required>
                </div>
                <div class="field">
                  <label class="label has-text-white">Last Name</label>
                  <input class="input" type="text" placeholder="Enter last name" name="lastName" required>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label has-text-white">Email</label>
              <input class="input" type="email" placeholder="Enter email" name="email" required>
            </div>
            <div class="field">
              <label class="label has-text-white">Password (min. 6 characters)</label>
              <input class="input" type="password" placeholder="Enter Password" name="password" minlength="6" required>
            </div>
            <div class="field is-grouped is-centered">
              <button class="button is-dark">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>



{{>footer}}
