:root {
    --main-bg-color: #2C7873;
    --highlight-color: #27AE60;
    --alternative-color: #008080;
    --text-white: #FFFFFF;
    --testimonial-text-color: #1b7d46;
    --light-blue: #73d9d2;
    --hover-blue: #5feee5;
    --success-green: #23d160;
    --danger-red: #ff3860;
  }
  
  .footer, .navbar {
    background-color: var(--main-bg-color);
    color: var(--text-white);
  }
  
  .column h4.title.is-4, .social-icons .icon, .button#login {
    color: var(--highlight-color);
  }
  
  .button#signup {
    background-color: var(--alternative-color); 
  }
  
  .button:hover {
    opacity: 0.8;
  }
  
  .section:nth-child(odd) {
    background-color: #F0FFFF; 
  }
  
  .section:nth-child(even) {
    background-color: #E0FFFF; 
  }
  
  .testimonial blockquote {
    font-style: italic;
    margin-bottom: 10px;
    color: var(--testimonial-text-color); 
  }
  
  .testimonial cite {
    font-weight: bold;
  }
  
  .gradient-bg {
    animation: changeGradient 10s infinite alternate;
    background: linear-gradient(to right, var(--main-bg-color), var(--highlight-color), var(--alternative-color)); 
    background-size: 400% 400%;
  }
  
  @keyframes changeGradient {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }
  
  .testimonial-section, .discover-section {
    color: var(--text-white); 
  }
  
  .button.is-dark {
    background-color: var(--light-blue); 
    color: var(--text-white); 
  }
  
  .button.is-dark:hover {
    background-color: var(--hover-blue);
  }
  
  .title.is-white, .has-text-white, .navbar-item a.button, .transparent-table, .transparent-box, .transparent-box .label, .transparent-box .title, .transparent-box p, .transparent-background, .transparent-background th, .transparent-background td, .transparent-background .label, .transparent-background .button.is-primary, .transparent-background .button.is-danger {
    color: var(--text-white); 
  }
  
  body, .gradient-bg {
    background: linear-gradient(to right, var(--main-bg-color), var(--highlight-color)); 
  }
  
  .box-link-hover-shadow:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .transparent-background, .transparent-box {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .button.is-success {
    background-color: var(--success-green);
  }
  
  .button.is-danger {
    background-color: var(--danger-red);
  }
  