<form action="/dashboard/addLandmark" method="POST">
  <div class="field">
    <label class="label">Landmark Title</label> <input class="input" type="text" placeholder="Enter Landmark title" name="title">
  </div>
  <button class="button is-link">Add Landmark</button>
</form>
