<section class="section gradient-bg">
  <div class="columns">
    <div class="column is-half">
      <h1 class="title has-text-white">Add Landmark Category</h1>
      <form action="/dashboard/addLandMarkCategory" method="POST">
        <div class="field">
          <label class="label has-text-white">Landmark Category Title</label>
          <input class="input" type="text" placeholder="Enter landmark Category Title" name="title">
        </div>
        <div class="field is-grouped is-centered">
          <button class="button is-dark">Add Landmark Category</button>
        </div>
      </form>
    </div>
  </div>

</section>