
  <form action="/dashboard/addLandMarkCategory" method="POST">
    <div class="field">
      <label class="label">Landmark Category Title</label>
      <input class="input" type="text" placeholder="Enter landmarkCategory title" name="title">
    </div>
    <button class="button is-link">Add Landmark Category</button>
  </form>
