<form class="box" action="/landmarkCategory/{{landmarkCategory._id}}/addLandmark" method="POST">
  <label>Enter Track Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Landmark Title" name="landmarkTitle">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Latitude" name="latitude">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Longitude" name="longitude">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Track</button>
</form>