<!-- footer.hbs -->

<footer class="footer">
  <div class="container">
    <div class="columns">
      <!-- Column 1 -->
      <div class="column">
        <h4 class="title is-4">About Country Explorer</h4>
        <p>
          Country Explorer is a web application that allows users to explore information about different countries, including their demographics, geography, and culture.
        </p>
      </div>
      
      <!-- Column 2 -->
      <div class="column">
        <h4 class="title is-4">Contact Us</h4>
        <p>
          If you have any questions or suggestions, feel free to contact us at:
        </p>
        <p>Email: info@countryexplorer.com</p>
        <p>Phone: +1 (123) 456-7890</p>
      </div>
      
      <!-- Column 3 -->
      <div class="column">
        <h4 class="title is-4">Follow Us</h4>
        <p>Stay updated on social media:</p>
        <div class="social-icons">
          <a href="#" class="icon"><i class="fab fa-facebook"></i></a>
          <a href="#" class="icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="icon"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
