{{#each landmarkCategories}}
<div class=" box-link-hover-shadow gradient-bg">
  <h2 class="title has-text-white">
    {{title}}
  </h2>
  <a href="/landmarkCategory/{{_id}}" class="button is-dark">
    <span class="icon is-small">
      <i class="fas fa-folder-open"></i>
    </span>
  </a>
  <a href="/dashboard/deleteLandmarkCategory/{{_id}}" class="button is-dark">
    <i class="fas fa-trash"></i>
  </a>
</div>

{{/each}}
