<nav class="navbar">
  <div class="navbar-brand">
    {{> playtime-brand}}
  </div>
  <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="dashboard" class="button is-dark" href="/dashboard">Dashboard</a>
          <a id="about" class="button is-dark" href="/about">About</a>
          <a id="logout" class="button is-dark" href="/logout">Logout</a>
          <a id="edit-profile" class="button is-dark" href="/profile">Edit Profile</a>
          {{#if isAdmin}}
          <a id="admin-panel" class="button is-dark" href="/admin-panel">Admin Panel</a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</nav>
